.modalPluri .ui-dialog-buttonset {
    display: flex;
    justify-content: flex-end;
}

.modalPluri .ui-dialog-content p {
    margin-bottom: 10px;
}

#labelCheckDeleteModel {
    margin: 10px !important;
}

.modalPluri {
    font-size: 1.5em !important;
}

.modalPluri input[type=file]::file-selector-button {
    height: 30px;
}

.modalPluri input {
    width: 100%;
}

.modalPluri select {
    padding: 6px 0px;
    width: 100%;
}

.loader-analise {
    display: block !important;
    margin: auto !important;
    font-size: 30px !important;
}

.loader-execute {
    display: block !important;
    margin: auto !important;
    font-size: 50px !important;
    margin-top: 20px;

}

.textAnalysis {
    font-weight: bold !important;
    margin: 0 auto !important;
}

.textAnalysis ul {
    margin-left: 10px !important;
}

.dFielTitle {
    margin-left: 10px !important;
}

.curvedArrow {
    transform: rotate(-90deg);
}

.noFieldsError {
    display: block;
    margin: 20px;
    font-style: oblique;
    color: red;
}

#fieldList,
#fieldListCSV {
    margin-left: 25px !important;
}

#tableDataCrossing {
    width: 100%;
    text-align: center;
}

#tableDataCrossing th {
    font-weight: bold !important;
}

#tableDataCrossing td:not(#arrow-data-crossing) {
    border: 1px solid black;
    border-radius: 5px;
}

#checkDeleteModel {
    display: flex;
    flex-direction: row;
}

#checkDeleteModel input {
    width: auto;
    align-self: center;
}

#tableDataCrossing {
    font-size: 15px;
}

.ui-widget-overlay {
    opacity: 0.5 !important;
    filter: Alpha(Opacity=50);
    background-color: black;
}



.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(360deg);
    }

    to {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}